body{
    padding:0;
    margin:0;
}

/*----sidebar-----*/
.sidebar{
    overflow-y: scroll;
    height:10%;
}
.side{
    height:40px;
    border-bottom:solid 1px black; 
}

.item{
    margin:0px 0 0 30px;
}

/*--------content-----*/
.content, .sidebar{
    margin-top:40px;
}
.codebox{
    width:90%;
    margin-left:10px;
    background-color:#f7f7f7;
    border-radius:5px;
    padding:10px;
}

#reference{
    padding-bottom:30px;
}
